.body {
  background: white;
  border-radius: 5px;
  text-align: center;
}

.header {
  display: block;
  padding: 5px;
  border-bottom: solid thin #118745;
}

.content {
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
}

.title span:lang(en) {
  display: block;
  font-size: 1rem;
}

.title span:lang(ja) {
  display: block;
  font-size: 0.7rem;
}

.result-rank-item {
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.result-rank-badge {
  border-radius: 3px;
  margin-right: 10px;
  width: 25px;
  color: #fff;
  background-color: #999;
}

.result-rank-badge.is-top {
  background-color: #cd0000;
}

.result-rank-badge.is-top-three {
  background-color: #116423;
}

.result-rank-name {
  width: 100px;
  text-align: left;
}

.result-rank-score {
  width: 100px;
  text-align: right;
}

.day-result {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #007f31;
  display: inline-block;
}

.day {
  font-size: 1rem;
}
