<div class="body">
  <div class="header">ALBA M.LEAGUE</div>
  <div class="content">
    <h2 class="title">
      <span lang="en">RANKING</span>
      <span lang="ja">ランキング</span>
    </h2>
    <div class="result-item">
      <ol class="result-rank-list">
        <li class="result-rank-item">
          <div class="result-rank-badge is-top">1</div>
          <div class="result-rank-name">足立 真陽</div>
          <div class="result-rank-score">305.5pt</div>
        </li>
        <li class="result-rank-item">
          <div class="result-rank-badge is-top-three">2</div>
          <div class="result-rank-name">北口 善紀</div>
          <div class="result-rank-score">262.5pt</div>
        </li>
        <li class="result-rank-item">
          <div class="result-rank-badge is-top-three">3</div>
          <div class="result-rank-name">清水 明彦</div>
          <div class="result-rank-score">-47.5pt</div>
        </li>
        <li class="result-rank-item">
          <div class="result-rank-badge">4</div>
          <div class="result-rank-name">網 亮太郎</div>
          <div class="result-rank-score">-80pt</div>
        </li>
        <li class="result-rank-item">
          <div class="result-rank-badge">5</div>
          <div class="result-rank-name">石橋 享典</div>
          <div class="result-rank-score">-91pt</div>
        </li>
        <li class="result-rank-item">
          <div class="result-rank-badge">6</div>
          <div class="result-rank-name">金子 侑起</div>
          <div class="result-rank-score">-289.5pt</div>
        </li>
      </ol>
    </div>
  </div>
  <div class="content">
    <h2 class="title">
      <span lang="en">RESULT</span>
      <span lang="ja">日程・結果</span>
    </h2>
    <div class="result-item">
      <ol class="result-rank-list">
        <li class="result-rank-item">
          <div class="result-rank-badge is-top">1</div>
          <div class="result-rank-name">足立 真陽</div>
          <div class="result-rank-score">305.5pt</div>
        </li>
        <li class="result-rank-item">
          <div class="result-rank-badge is-top-three">2</div>
          <div class="result-rank-name">北口 善紀</div>
          <div class="result-rank-score">262.5pt</div>
        </li>
        <li class="result-rank-item">
          <div class="result-rank-badge is-top-three">3</div>
          <div class="result-rank-name">清水 明彦</div>
          <div class="result-rank-score">-47.5pt</div>
        </li>
        <li class="result-rank-item">
          <div class="result-rank-badge">4</div>
          <div class="result-rank-name">網 亮太郎</div>
          <div class="result-rank-score">-80pt</div>
        </li>
        <li class="result-rank-item">
          <div class="result-rank-badge">5</div>
          <div class="result-rank-name">石橋 享典</div>
          <div class="result-rank-score">-91pt</div>
        </li>
        <li class="result-rank-item">
          <div class="result-rank-badge">6</div>
          <div class="result-rank-name">金子 侑起</div>
          <div class="result-rank-score">-289.5pt</div>
        </li>
      </ol>
    </div>
  </div>
</div>
