<div class="body">
  <div class="header">ALBA M.LEAGUE {{ quarter }}</div>
  <div class="content">
    <h2 class="title">
      <span lang="en">RANKING</span>
      <span lang="ja">ランキング</span>
    </h2>
    <div class="result-item">
      <ol class="result-rank-list">
        <li class="result-rank-item" *ngFor="let result of ranking; index as i">
          <div class="result-rank-badge {{getBadgeType(i)}}">{{ i+1 }}</div>
          <div class="result-rank-name">{{ result.player }}</div>
          <div class="result-rank-score">{{ result.point }}pt</div>
        </li>
      </ol>
    </div>
  </div>
  <div class="content">
    <h2 class="title">
      <span lang="en">RESULTS</span>
      <span lang="ja">日程・結果</span>
    </h2>
    <div class="day-result" *ngFor="let dayResult of dayResults">
      <h2 class="day">
        <span lang="ja">{{ dayResult.day }}</span>
      </h2>
      <div class="result-item">
        <ol class="result-rank-list">
          <li class="result-rank-item" *ngFor="let result of dayResult.results; index as i">
            <div class="result-rank-badge {{getBadgeType(i)}}">{{ i+1 }}</div>
            <div class="result-rank-name">{{ result.player }}</div>
            <div class="result-rank-score">{{ result.point }}pt</div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
